/*
**  PROJEKAT:   PRP - Programiranje repozitorijuma podataka
**              Praćenje treninga
**  DATOTEKA:   01_KreiranjeBaze.sql
**  OPIS:       Kreiranje baze podataka [treninzi], shema,
**              DbRole-ova, DbUser-ova i dodela prava.
**  AUTOR:      Anđela Nikolić, Andrijana Opačić
*/

USE [master];
GO

-- =====================================================
-- 1. Kreiranje baze podataka [treninzi]
-- =====================================================
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'treninzi')
    DROP DATABASE [treninzi];
GO

CREATE DATABASE [treninzi]
ON PRIMARY
    ( NAME = N'treninzi',
      FILENAME = N'C:\Users\Ljilja\treninzi.mdf',
      SIZE = 73728KB, MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
LOG ON
    ( NAME = N'treninzi_log',
      FILENAME = N'C:\Users\Ljilja\treninzi_log.ldf',
      SIZE = 8192KB, MAXSIZE = 2048GB, FILEGROWTH = 65536KB );
GO

ALTER DATABASE [treninzi] COLLATE Serbian_Latin_100_CI_AS;
GO

PRINT '------------------------------------------------------------------';
PRINT N' Baza podataka je kreirana - ' + FORMAT(GETDATE(), '', 'sr-Latn-RS');
PRINT '------------------------------------------------------------------';
GO

USE [treninzi];
GO

-- =====================================================
-- 2. Kreiranje šema
-- =====================================================
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'dbo')
    EXEC('CREATE SCHEMA dbo;');
GO --> dbo = database owner

IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'impl')
    EXEC('CREATE SCHEMA impl;');
GO --> impl = privatna implementacija (tabele, funkcije, procedure)

IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'spec')
    EXEC('CREATE SCHEMA spec;');
GO --> spec = javni interfejs DB ADT (synonymi ka impl)

IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'api_trener')
    EXEC('CREATE SCHEMA api_trener;');
GO --> api_trener = operacije za aplikaciju trenera

IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'api_klijent')
    EXEC('CREATE SCHEMA api_klijent;');
GO --> api_klijent = operacije za aplikaciju klijenta

PRINT '------------------------------------------------------------------';
PRINT N' Sheme su kreirane (dbo, impl, spec, api_trener, api_klijent)';
PRINT '------------------------------------------------------------------';
GO

-- =====================================================
-- 3. Kreiranje DbRole-ova
-- =====================================================
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = 'DbDeveloper' AND type = 'R')
    CREATE ROLE DbDeveloper;
GO --> pravo konstrukcije DB ADT (impl + spec)

IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = 'DbApiDeveloper' AND type = 'R')
    CREATE ROLE DbApiDeveloper;
GO --> pravo konstrukcije DB API (api_trener + api_klijent)

IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = 'DbTrenerApp' AND type = 'R')
    CREATE ROLE DbTrenerApp;
GO --> pravo izvršavanja api_trener šeme

IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = 'DbKlijentApp' AND type = 'R')
    CREATE ROLE DbKlijentApp;
GO --> pravo izvršavanja api_klijent šeme

-- =====================================================
-- 4. Kreiranje DbUser-ova
-- =====================================================

-- Andjela - DbDeveloper, zadužena za DB ADT (impl + spec)
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = 'Andjela' AND type = 'S')
BEGIN
    CREATE USER Andjela WITHOUT LOGIN;
    ALTER ROLE DbDeveloper ADD MEMBER Andjela;
END
GO

-- Andrijana - DbApiDeveloper, zadužena za api_trener
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = 'Andrijana' AND type = 'S')
BEGIN
    CREATE USER Andrijana WITHOUT LOGIN;
    ALTER ROLE DbApiDeveloper ADD MEMBER Andrijana;
END
GO

-- Danilo - DbApiDeveloper, zadužen za api_klijent
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = 'Danilo' AND type = 'S')
BEGIN
    CREATE USER Danilo WITHOUT LOGIN;
    ALTER ROLE DbApiDeveloper ADD MEMBER Danilo;
END
GO

PRINT '------------------------------------------------------------------';
PRINT N' DbRole-ovi i DbUser-ovi su kreirani';
PRINT '------------------------------------------------------------------';
GO

-- =====================================================
-- 5. Dodela prava DbRole-ovima
-- =====================================================

-- DbDeveloper: puna kontrola nad impl i spec
GRANT CONTROL ON SCHEMA::impl TO DbDeveloper;
GRANT CONTROL ON SCHEMA::spec TO DbDeveloper;
GO

-- DbApiDeveloper: koristi spec, gradi api_trener i api_klijent
GRANT EXECUTE, SELECT ON SCHEMA::spec TO DbApiDeveloper;
GRANT CONTROL ON SCHEMA::api_trener TO DbApiDeveloper;
GRANT CONTROL ON SCHEMA::api_klijent TO DbApiDeveloper;
GO

-- DbTrenerApp: samo poziva api_trener
GRANT EXECUTE, SELECT ON SCHEMA::api_trener TO DbTrenerApp;
GO

-- DbKlijentApp: samo poziva api_klijent
GRANT EXECUTE, SELECT ON SCHEMA::api_klijent TO DbKlijentApp;
GO

PRINT '------------------------------------------------------------------';
PRINT N' Prava su dodeljena DbRole-ovima';
PRINT '------------------------------------------------------------------';
GO